* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ff5b5b !important;
}

.wrap {
    width: 1200px;
    margin: auto;
}

.title {
    width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 60px;
    text-align: center;
}

.title h1 {
    color: #ff5b5b;
    font-size: 60px;
    letter-spacing: 10px;
}

.todoList {
    margin: 10px 0 50PX 0;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;   
}

.todo-group {
    padding-bottom: 50px;
    border-bottom: 1px solid #d2d2d2;
}
.todo-group input {
    border: 2px solid #6c757d;
}

.input-group input::placeholder {
    color: #cbcbcb;
}

.list {
    margin: 30px 0 8px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;  
}

.list input {
    border: 2px solid #dc3545;
}

.list .input-group-text {
    border-color: #dc3545;
    background-color: #dc3545;
}

.reset {
    text-align: end;
    padding-right: 50px;
}
