*{
    margin: 0;
    padding: 0;
}

/* header */
.header1{  
    background-color: rgb(243, 142, 34);
    text-align: center;
    padding: 25px 0;
    position : sticky;   
    top : 0; /* 定位在最上層 */

}
.header1 span{
    color: #fff;
}
.header1 span:last-child{
    float: right;
    padding-right: 20px;
    font-size: 20px;
}

.header2{
    display: flex;
    /* padding: 6px 0; */
    background-color: #ffffff; 
    /* margin: auto; */
    position : sticky;   
    top : 66px; /* 定位在最上層 */
    /* outline: 2px solid red; */
    box-shadow: 0 3px 4px -5px;
}
.alink{
    display: flex;
    margin: auto;
}
.alink nav{
    /* width: 100%;     */
    font-size: 0; /*超連結之間不要有空隙*/
    /* padding: 10px; */
    margin: auto;
    
}
.alink .logo{
    display: inline-block;
    padding: 10px;
}
.alink nav a{
    display: inline-block;
    line-height: 50px;/*配合logo高度*/
    font-size: 20px;/*由這裡設定超連結文字大小*/
    padding: 0 20px; /*文字之間的距離*/
    text-decoration: none;
    color: #242424;
    position: relative;
}
.alink nav a:not(:last-child):after{
    content: '';
    position: absolute;
    left: 50%; /*左右各半*/
    right: 50%;
    bottom: 3px;
    /*在下方距離3px的位置，產生一條2px的藍實心線段*/
    border-bottom: 2px solid rgb(53, 96, 252);
    transition: .3s;/*延遲0.3秒開始產生底線*/
        }


.alink nav a:hover:after{
    left:0; 
    right:0;
    /*左右距離為0，底線會從「無」延伸到「全長」*/

}
.alink  nav a:last-child{
    background-color:  rgb(53, 96, 252); 
    color: #fff;
    border-radius: 10px;
    padding: 5px 50px;
    margin-left: 20px;
}
.alink  nav a:hover:last-child{
    background-color: #0b0b43; 
    transition-duration: .7s; /*動畫時間0.7秒*/
}

/* about */
.about{
    background-color: #efefef;
    text-align: center;
    color: #0b0b43;
    padding: 50px 0;

}
.about h2{
    font-size: 35px;
    color: #0b0b43;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.5;
}
.about p{
    font-size: 20px;
    line-height: 30px;
    color: #14145c;
    font-weight: 350;
    text-align: center;
    margin: auto;


}

/* product1 */
.product1{
    display: flex;
    
}
.product1 .item{
    width: 50%;
    margin: 50px;/*用auto沒反應*/
}
.product1 .text{
    margin: auto; 
    padding: 0 40px;
} 
.product1 .item img{
    width: 100%; /*填滿版面*/
}
.product1 .item h2{
    font-size: 35px;
    color: #0b0b43;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.5;
    padding-left: 8px;
}
.product1 .item p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 350;
    color: #14145c;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 8px;
}
.product1 .item a.link_txt{
    text-decoration: none;
    font-size: 20px;
    margin-left: 8px;
    color: rgb(53, 96, 252); 
    font-weight: 450;
    border-bottom:2px rgb(53, 96, 252) solid; padding-bottom:4px;   
}
.product1 .item a.go{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(53, 96, 252);
}

.product1 .item a.go:hover{
    transform:translate(5px); /*平移5px*/
    transition-duration: .5s; /*動畫時間0.5秒*/
}
.product1 .item ul{
    list-style: none; /*去除清單項目樣式*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 450;
    margin: 0 0 -8px;
    width: 600px;
    margin-bottom: 20px;
}
.product1 .item li{
    list-style-type: none; /*標籤圖示為不顯示  */
    list-style-position:inside; /*縮排*/
    justify-content: space-between;
    padding-bottom: 20px;
    width: 50%; /*li二欄均寬*/
    font-size: 20px;
    color: #0d0d32;
}
.product1 .item li::before {
    content: "•";
    color: rgb(53, 96, 252); 
    font-weight: bold;
    display: inline-flex; 
    width: 20px;
    margin-left: 10px;
} 


/* service */
.service{
    background-color: #efefef;
    padding: 100px 0;

}
.service h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #0b0b43;

}
.wrap{
    
    display: flex;
    margin: auto;
    text-align: center;   
}
.wrap .item{
    margin: 0 10px;
    text-align: center;
    padding: 30px;
}
.wrap .item img{
    width: 100px;
    border-radius: 50px
}
.wrap .item h3{
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
    font-weight: bold;
    color: #0b0b43;
}
.wrap .item p{
    font-size: 18px;
    line-height: 30px;
    color: #14145c;
    font-weight: 350;
    text-align: center;
    margin: auto;
}